body {
    background: cornsilk;
    font-family: sans-serif;
}

.app {
    padding-top: 1em;
    padding-left: 2em;
}

.game {
    padding-top: 1em;
}

.quiz-item {
    font-size: 7em;
    padding-left: 0.2em;
}

.item-display-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items-left {
    font-size: small;
    padding-left: 1em;
}

.input-container {
    padding-top: 1em;
}

.wrong-answer-text {
    padding-top: 0.5em;
}