body {
    background: cornsilk;
    font-family: sans-serif;
}

.game {
    padding-top: 1em;
    padding-left: 2em;
}

.quiz-item {
    font-size: xx-large;
}

.items-left {
    font-size: small;
    padding: 4.5em;
}